<div data-counter-counter-ui>
  <button
    data-test-id="decrement"
    [disabled]="decrementDisabled$ | async"
    (click)="decrement()"
    class="btn btn-sm btn-danger"
  >
    -
  </button>
  <span data-test-id="current">{{ current$ | async }}</span>
  <button
    data-test-id="increment"
    (click)="increment()"
    class="btn btn-sm btn-success"
  >
    +
  </button>
  <div>
    <button
      data-test-id="reset"
      [disabled]="resetDisabled$ | async"
      (click)="reset()"
      class="btn btn-primary"
    >
      Reset
    </button>
  </div>
</div>
