<ul class="nav nav-tabs" data-front-end-navigation>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLinkActive]="['active']"
      [routerLink]="['dashboard']"
      >Dashboard</a
    >
  </li>

  <li class="nav-item">
    <a
      class="nav-link"
      [routerLinkActive]="['active']"
      [routerLink]="['counter']"
      >Redux Counter</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [routerLinkActive]="['active']"
      [routerLink]="['shopping']"
      >Redux Shopping</a
    >
  </li>
</ul>
